[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"
pytest = "*"

[packages]
flask = "*"
redis = "*"
flask-restplus = "*"
astral = "*"
gunicorn = "*"
flask-cors = "*"

[requires]
python_version = "3.5"
